.ContactForm {
  display: block;
  border: 1px solid darkgray;
  border-radius: 3px;
  box-shadow: 3px 2px 4px;
  width: 640px;
  min-height: 360px;
  padding-bottom: 20px;
}



.titleLabel {
  display: block;
  margin-top: 20px;
}

.titleLabel {
  color: rgb(70, 69, 69);
  font-style: italic;
  font-size: 32px;
  font-weight: 500;
  padding-left: 36px;
  margin-bottom: 10px;
  
}

.inputForm {
  display: block;
  min-width: 565px; 
  min-height: 70px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 30px;

}

.inputForm::placeholder {
  padding-left: 10px;
  font-style: oblique;
  font-size: 22px;

}

.formButton {
  position: relative;
  color: aliceblue;
  display: block;
  width: 568px;
  height: 70px;
  margin: 30px auto 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
  background-image: linear-gradient(47.73deg, rgb(23, 169, 226) 15.48%, rgb(82, 236, 203) 81.25%);
  cursor: pointer;
}

.formButton:hover {
  /* background-image: linear-gradient(47.73deg, rgb(23, 169, 226) 15.48%, rgb(82, 236, 203) 81.25%); */
  background-position: center center;
  box-shadow: 3px 2px 4px darkgray;
  border-radius: 5px;
}