.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  border: solid 1px gray;
  padding: 30px;
}
.loginInput {
  display: block;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 22px;
  width: 95%;
  height: 70px;
  border-radius: 10px;
}

.loginTitle {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loginMessage {
  text-align: center;
  font-size: 24px;
  display: block;
  padding: 15px;

}
.loginLabel{
  font-size: 32px;
}

.loginButton{
color: aliceblue;
  display: block;
  height: 70px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(47.73deg, rgb(23, 169, 226) 15.48%, rgb(82, 236, 203) 81.25%);
  cursor: pointer;
  padding: 10px;
  font-size: 26px;
}

.loginNavLink{
  text-decoration: none;
  padding: 10px;
  font-size: 26px;
  color: blue;
  border: solid 1px darkblue;
  margin-left: 15px;
}

.loginNavLink:hover {
  box-shadow: 3px 3px 3px darkgrey;
  color: red;
}